
body {
	margin:0px;foo
    min-width: 550px;
}
#container {
    min-height: 1000px;
    padding-left: 300px;
    padding-right: 300px;
}
#container .column {
    float: left;
    min-height: 1200px;
    position: relative;
}
#center {
    width: 100%;
}
#left {
    background-color: aqua;
    margin-left: -100%;
    min-height: 1000px;
    right: 300px;
    width: 300px;
}
#right {
    background-color: aqua;
    margin-right: -3000px;
    width: 300px;
}
#footer {
    clear: both;
    background-color:blue;
}
* html #left {
    left: 150px;
}
.profilePic {
    height: 55px;
    width: 55px;
}
nav a {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
#header {
    background-color: lime;
    font-family: Lucida Grande;
    font-size: 40px;
    text-align: center;
    
    }
.current {
    background-color: blue;
}
a {
    text-decoration: none;
}
a:link {
    color: navy;
}
a:hover {
    color: red;
}
a:active {
    color: blue;
}
